---
import type { GetStaticPaths } from 'astro'
import { Image } from 'astro:assets'
import A from '~/components/A.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'
import signsRu from './_signs-ru.json'
import signsEn from './_signs.json'

export const getStaticPaths: GetStaticPaths = () => [
  { params: { lang: 'en' } },
  { params: { lang: 'ru' } },
]

export const prerender = true

const pics = Object.values(
  import.meta.glob('~/assets/antichamber/*.webp', { eager: true }),
).map(x => (x as any).default)

const lang = Astro.params.lang as 'ru' | 'en'
const signs = { en: signsEn, ru: signsRu }[lang]

const altLang = lang === 'en' ? 'ru' : 'en'
const altText = altLang === 'en' ? 'on english' : 'на русском'
---

<DefaultLayout title="antipage">
  <div class="text-secondary">
    powered by <A href="//antichamber">antichamber</A>
    <br />
    very cool game
    <br />
    <A href={`/antipage/${altLang}`}>{altText}</A>
  </div>

  <div class="h-540px flex flex-col self-center gap-6 overflow-y-scroll px-3">
    {signs.map((text, i) => (
      <div class="flex gap-6">
        <Image src={pics[i]} alt={`${i + 1}`} width="160" height="160" class="p-2 border-d" />
        <div class=":uno: h-160px w-160px flex cursor-default items-center break-keep p-2 text-center leading-5 font-sans border-d">{text}</div>
      </div>
    ))}
  </div>
</DefaultLayout>

<style is:global>
  :root {
    --bg: black !important;
    --text-primary: white !important;
    --text-secondary: #808080 !important;
    --text-accent: white !important;
  }

  #kud {
    @apply hidden;
  }
</style>
