---
import { Image } from 'astro:assets'
import nya from '~/assets/nachoneko_nya.webp'
import Section from '~/components/Section.astro'

export const title = 'привет, блог!'
export const description = 'начало великого блога от asyomei'
export const created = '2025-09-09'
---

<Section>
  вау, это мой первый пост в этом блоге.
  <br />
  привет всем, кто это читает прямо сейчас ^^
</Section>

<Section>
  буду делиться всяким разным: о себе, не о себе, о всяких вещах, не знаю.
  <br />
  тут уж зависит от моего настроения, желания, прочих факторов.
</Section>

<Section>
  появилось желание начать вести свой блог из-за того, что я увидел в одном аниме, как там тоже ведут блог :D
  <br />
  тут я понял, что иметь свой блог - это классно, а уж в своём стиле - приятно.
</Section>

<Section>
  чтобы вам/тебе было удобно, блог будет вестись на двух языках - русский и английский.
  <br />
  я в английском не особо хорош, правда, но с переводчиком будет нормально.
</Section>

<Section>
  <Image src={nya} alt="nya" width="160" />
</Section>

<Section>
  на этом пока всё. всем мя, ваф, покеда.
</Section>
