---
import A from '~/components/A.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'

export const prerender = true
---

<DefaultLayout class="text-center">
  <h2>404 Не найдено</h2>
  <span>Такой страницы нет :(</span>
  <div />
  <A href="/">На главную</A>
</DefaultLayout>
