---
import A from '~/components/A.astro'
import Section from '~/components/Section.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'
---

<DefaultLayout og={{ name: 'vadim' }}>
  <Section>
    <div class="flex items-center gap-8 <sm:(flex-col gap-3)">
      <img src="/avatar320.jpg" height="100" width="100" class="rounded-full" />
      <div class="flex flex-col leading-6 <sm:items-center">
        <span class="text-xl">Вадим</span>
        <span class="text-secondary">@asyomei</span>
      </div>
      <div class="flex-1 <sm:hidden" />
      <div class="flex gap-4">
        <span>Русский (родной)</span>
        <span>English (bad)</span>
      </div>
    </div>
  </Section>

  <Section title="Обо мне">
    <span>Душа моя просится наружу,</span>
    <span>Не в силах я ей отказать;</span>
    <span>Так покажу я своё обличье всем,</span>
    <span>Чтобы знали: есть среди вас человек,</span>
    <span>Любви желающий и надежду помнящий;</span>
    <span>Я такой же, как все, просто не похож на других</span>
    <span>Своим стремлением к свободе;</span>
    <span>Так знаю я цену своим тихим потугам,</span>
    <span>Тлеющим в моей груди.</span>
  </Section>

  <Section title="Мои контакты">
    <span>Telegram: <A href="https://t.me/asyomei">@asyomei</A></span>
    <span>GitHub: <A href="https://github.com/asyomei">@asyomei</A></span>
    <span>E-mail: <span id="email" class="cursor-default underline">показать</span></span>
  </Section>
</DefaultLayout>

<script>
  const email = document.getElementById('email')!
  const name = document.head.querySelector('meta[property="og:name"]')!.getAttribute('content')!

  email.onclick = () => {
    const at = String.fromCharCode(Number.parseInt('100', 8))
    email.textContent = name + at + location.hostname
    email.className = ''
    email.onclick = null
  }
</script>
