---
import { fetchActions } from '~/backend/actions'
import A from '~/components/A.astro'
import ActionList from '~/components/ActionList.astro'
import Section from '~/components/Section.astro'
import Table from '~/components/Table.astro'
import DefaultLayout from '~/layouts/DefaultLayout.astro'

const actions = await fetchActions()
---

<DefaultLayout>
  <Section>hey</Section>

  <Section>
    i'm <b>asyomei</b> <br />
    another person in this world <br />
    lazy stupid airhead
  </Section>

  <Section title="info">
    <Table>
      <span>name</span>
      <span>vadim</span>

      <span>email</span>
      <span>neko (at this domain)</span>

      <span>birthday</span>
      <span>feb 9</span>

      <span>languages</span>
      <span>ru, en</span>

      <span>fav band</span>
      <span><A href="//currents">Currents</A></span>

      <span>fav anime</span>
      <span><A href="//gochiusa">gochiusa</A></span>
    </Table>
  </Section>

  <Section title="links">
    <Table>
      <span>telegram</span>
      <span><A href="//my/telegram">@asyomei</A></span>

      <span>matrix</span>
      <span><A href="//my/matrix">@asyomei:matrix.org</A></span>
    </Table>
  </Section>

  {actions.length > 0 && (
    <Section title="actions">
      <ActionList actions={actions} />
    </Section>
  )}
</DefaultLayout>
