---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {}

const props = Astro.props
const url = props.href?.toString()
if (url?.startsWith('https://') || url?.startsWith('http://')) {
  props.target = '_blank'
}
---

<a {...props}><slot /></a>
