---
import A from './A.astro'
---

<footer class=":uno: flex justify-between bg-footer px-2 py-1 text-secondary">
  <A href="https://tei.su" class="font-mono">teidesu</A>
  <A href="//my/projects/website">Source code</A>
</footer>
