---
import A from './A.astro'
---

<footer class="mx-8 flex flex-col items-center pt-2 text-xs color-secondary leading-3 border-t-d">
  <section>
    inspired by <A href="//teidesu">tei.su</A>
  </section>
  <section>
    <A href="//my/projects/website">source code</A>
    (updated {import.meta.env.BUILD_DATE})
  </section>
</footer>
