---
import A from './A.astro'
---

<footer id="footer">
  <section>
    inspired by <A href="//teidesu">tei.su</A>
  </section>
  <section>
    <A href="//my/projects/website">source code</A>
    (updated {import.meta.env.BUILD_DATE})
  </section>
</footer>

<style is:global>
  #footer {
    border-top: var(--border);
    margin: 0 32px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    color: var(--text-secondary);
  }
</style>
