---
import kud from '~/assets/kud.gif'
import A from './A.astro'

interface NavLink {
  name: string
  path: string
  match: RegExp
  active?: boolean
}

const links: NavLink[] = [
  { name: 'main', path: '/', match: /^\/?$/ },
  { name: 'blog', path: '/blog', match: /^\/blog/ },
]

const { pathname } = Astro.url
const activeLink = links.find(x => x.match.test(pathname))
if (activeLink) {
  activeLink.active = true
}
---

<header class="relative flex justify-center gap-2">
  <img
    src={kud.src}
    title="wafu~"
    class="absolute right-0 top-0 <sm:hidden motion-reduce:hidden"
    aria-hidden="true"
    transition:persist
  />
  {links.map((link, i) => (
    <>
      {i > 0 && <span class="select-none color-secondary">/</span>}
      <A
        href={link.path}
        class:list={[link.active && 'font-bold color-primary decoration-none']}
      >{link.name}</A>
    </>
  ))}
</header>
