---
interface Props {
  title?: string
  class?: string
}

const { title, class: className } = Astro.props
---

<section class:list={['section', className]}>
  {title && <h2>--- {title} ---</h2>}
  <slot />
</section>

<style is:global>
  .section > h2 {
    padding-bottom: 12px;
  }
</style>
