<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>asyomei</title>
</head>

<body>
  <slot />
</body>

</html>

<style is:global>
  body {
    font-family: monospace;
  }
</style>
