---
import LoadingIndicator from 'astro-loading-indicator/component'
import { SEO } from 'astro-seo'
import { ClientRouter } from 'astro:transitions'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'

interface Props {
  title?: string
  class?: string
  description?: string
}

let { title = 'asyomei', description, class: className } = Astro.props
if (import.meta.env.DEV) title = `[${title}]`
---

<html lang="en" transition:animate="none">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" href="/favicon.png" />
  <SEO
    {title}
    description={description ?? 'personal asyomei\'s website'}
    openGraph={{
    basic: {
      title,
      type: 'profile',
      image: 'https://asyomei.su/avatar320.png',
    },
  }}
  />
  <ClientRouter transition:name="slide" />
  <LoadingIndicator color="var(--text-primary)" />
</head>

<body class="overflow-x-hidden overflow-y-scroll bg-base text-md text-primary leading-4 font-mono">
  <div class="min-h-screen w-full flex flex-col items-center">
    <div class:list={['min-h-screen w-full flex flex-col gap-6 p-6 md:(w-720px border-x-d)', className]}>
      <Header />
      <slot />
      <div class="flex-1" />
      <Footer />
    </div>
  </div>
</body>

</html>

<style is:global>
  :root {
    --bg: snow;
    --text-primary: #662866;
    --text-accent: #5d55aa;
    --text-secondary: #424242;
    --text-content: var(--text-primary);
    --border: solid 1px var(--text-secondary);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1f1a1d;
      --text-primary: #df8fa2;
      --text-accent: #8e88bb;
      --text-secondary: #777;
      --text-content: #bea7b0;
    }
  }

  * {
    @apply m-0 box-border p-0 text-size-inherit underline-offset-2;
  }

  a {
    @apply text-accent hover:decoration-none;
  }
</style>
