---
import LoadingIndicator from 'astro-loading-indicator/component'
import { ClientRouter } from 'astro:transitions'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'

interface Props {
  title?: string
}

let { title = 'asyomei' } = Astro.props
if (import.meta.env.DEV) title = `[${title}]`
---

<html lang="en" transition:animate="none">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" href="/favicon.png" />
  <title>{title}</title>
  <ClientRouter transition:name="slide" />
  <LoadingIndicator color="var(--text-primary)" />
</head>

<body>
  <div id="outer">
    <div id="main">
      <Header />
      <slot />
      <div id="footer-padding" />
      <Footer />
    </div>
  </div>
</body>

</html>

<style is:global>
  :root {
    --bg: snow;
    --text-primary: #662866;
    --text-accent: #5d55aa;
    --text-secondary: #424242;
    --border: solid 1px var(--text-secondary);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1f1a1d;
      --text-primary: #df8fa2;
      --text-accent: #8e88bb;
      --text-secondary: #777;
    }
  }

  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
    text-underline-offset: 2px;
  }

  body {
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: ui-monospace, 'Liberation Mono', monospace;
    font-size: 14px;
    line-height: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  a {
    color: var(--text-accent);
  }

  a:hover {
    text-decoration: none;
  }

  #outer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 24px;
    gap: 24px;
  }

  @media (min-width: 420px) {
    #main {
      width: 90%;
      border-left: var(--border);
      border-right: var(--border);
    }
  }

  @media (min-width: 500px) {
    #main { width: 75%; }
  }

  @media (min-width: 720px) {
    #main { width: 60%; }
  }

  @media (min-width: 1200px) {
    #main { width: 50%; }
  }

  #footer-padding {
    flex: 1;
  }
</style>
